<h1>iTunes App Ready</h1>
<div class="search-box-wrapp">
	<input class="search-input" type="text" name="" placeholder="Type to find iTune..." />
	<button class="search-btn" type="submit">Search</button>
</div>

<div class="itubes-container">
<div class="total-songs">Total Songs:<span class="total-songs-items"></span></div>
	<!-- ITUNES RECORDS -->
	<table class="song-table">
	  <tr class="table-header">
	    <th><strong>ID</strong></th>
	    <th><strong>Artist Name</strong></th>
	    <th><strong>Album</strong></th>
	    <th><strong>Song Name</strong></th>
	    <th><strong>Apple Music Preview</strong></th>
	    <th><strong>Click to listen</strong></th>
	  </tr> 
	</table>
</div>


<div class="iTune-Spinner sk-fading-circle">
  <div class="sk-circle1 sk-circle"></div>
  <div class="sk-circle2 sk-circle"></div>
  <div class="sk-circle3 sk-circle"></div>
  <div class="sk-circle4 sk-circle"></div>
  <div class="sk-circle5 sk-circle"></div>
  <div class="sk-circle6 sk-circle"></div>
  <div class="sk-circle7 sk-circle"></div>
  <div class="sk-circle8 sk-circle"></div>
  <div class="sk-circle9 sk-circle"></div>
  <div class="sk-circle10 sk-circle"></div>
  <div class="sk-circle11 sk-circle"></div>
  <div class="sk-circle12 sk-circle"></div>
</div>