body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background: #ffffff;
}

.App {
    margin: 50px 0 0 0;
}

h1 {
    display: block;
    text-align: center;
    width: 100%;
}

.search-box-wrapp {
    height: 100%;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 0 0 0;
}

.search-box-wrapp input {
    border: 1px solid #ccc;
    padding: 10px;
    min-width: 300px;
}

nav {
    width: 100%;
    padding: 10px 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

nav ul {
    display: block;
    margin: 0 auto;
    width: 80%;
    list-style-type: none;
}

nav ul li {
    cursor: pointer;
    color: #aaa;
    float:left;
    margin: 0 15px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

nav ul li router {
    display: flex;
}

nav ul li:hover {
    color: #000;
}
