body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background: #ffffff;
}

a:focus,
a:hover {
    color: #ff7726;
    outline: 0;
    text-decoration: none;
}

.App {
    margin: 50px 0 0 0;
}

.App h1 {
    display: block;
    text-align: center;
    width: 100%;
}

.search-box-wrapp {
    height: 100%;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 0 0 0;
}

.search-box-wrapp input {
    border: 1px solid #ccc;
    padding: 10px;
    min-width: 300px;
}

nav {
    width: 100%;
    padding: 10px 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

nav ul {
    display: block;
    margin: 0 auto;
    width: 80%;
    list-style-type: none;
}

nav ul li {
    cursor: pointer;
    color: #aaa;
    float: left;
    margin: 0 15px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

nav ul li {
    display: flex;
}

nav ul li:hover {
    color: #000;
}

.search-btn {
    background-color: #ff7726;
    border: 1px solid #aaa;
    color: #fff;
    cursor: pointer;
    outline: 0;
    padding: 10px 35px;
    -webkit-transition: all .35s;
    /* Safari */
    transition: all .35s;
}

.search-btn:hover {
    background-color: #ff7726;
    color: #ccc;
}

.itubes-container {
    display: block;
    margin: 0 auto;
    padding: 30px 0;
    width: 1350px;
}

.itubes-container th,
.itubes-container td {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    font-size: 13px;
    padding: 0 30px 0 12px;
}

.itubes-container th {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.itubes-container th .fa {
    color: #aaa;
    cursor: pointer;
    font-size: 15px;
    position: absolute;
    top: 5px;
    right: 5px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.itubes-container th .fa:hover {
    color: #000;
}

.sort-desc {
    display: none;
}

.itubes-container td {
    border-bottom: 1px solid #ccc;
}

.song-table {
    display: none;
}

.App h2 {
    text-align: center;
    color: red;
}

.total-songs {
    color: blue;
    display: none;
    padding: 10px;
}

.total-songs span {
    color: green;
}

.fadeOut {
    animation-name: fadeOut;
    -webkit-animation-name: fadeOut;
    animation-duration: 2.5s;
    -webkit-animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.sk-fading-circle {
    display: none;
}

.listen a {
    background: transparent url("../images/play-ico.png") no-repeat center;
    background-size: 16px;
    padding: 0 55px 0 0px;
    text-align: right;
}

.song-limit-container {
    height: 100%;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 0 0;
}

.song-limit-container span {
    font-size: 15px;
    padding: 0 5px 0 0;
}

.song-limit-container input {
    border: 1px solid #ccc;
    padding: 6px;
    min-width: 20px;
    max-width: 20px;
}


/*ACCORDION*/

.accordionWrapper {
    display: none;
    padding: 5px;
    background: #fff;
    float: left;
    width: 15%;
    box-sizing: border-box;
    margin: 0 20px 0 0;
    box-shadow: 0 1.5em 85px 0 rgba(0, 0, 0, 0.2);
}

.accordionWrapper h3 {
    margin: 5px 0;
}

.accordionItem {
    float: left;
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Open-sans', Arial, sans-serif;
}

.accordionItemHeading {
    cursor: pointer;
    margin: 0px 0px 3px 0px;
    padding: 10px;
    background: #2980b9;
    color: #fff;
    width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
}

h2.accordionItemHeading {
    color: #fff;
    font-size: 14px;
}

.close .accordionItemContent {
    height: 0px;
    transition: height 1s ease-out;
    -webkit-transform: scaleY(0);
    -o-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    float: left;
    display: block;
}

.open .accordionItemContent ul {
    color: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
}

.open .accordionItemContent ul li a {
    color: #fff;
}

.open .accordionItemContent {
    padding: 12px;
    background-color: #3498db;
    border: 1px solid #ddd;
    width: 100%;
    margin: 0px 0px 3px 0px;
    display: block;
    -webkit-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: top;
    -o-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transition: -webkit-transform 0.4s ease-out;
    -o-transition: -o-transform 0.4s ease;
    -ms-transition: -ms-transform 0.4s ease;
    transition: transform 0.4s ease;
    box-sizing: border-box;
}

.open .accordionItemContent p {
    color: #fff;
}

.open .accordionItemHeading {
    margin: 0px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #2980b9;
    color: #fff;
}
